
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
        <header>
                <div class="container">
                    <div id="branding">
                        <h4> <span class="highlight">Suppliers </span>Accounts</h4>
                    
                    </div>
                </div>
            </header>

            <% include ./navmenu %>
            <br>
            <br>
            <br>
          

        <table class="rtable" >  
                <thead>
                <tr>  
                        <th>Current Balance</th>
                        <th>Added History</th>
                        <th>Remove History</th>
                      
                    </tr> 
                </thead> 
                <% data.forEach(function(item) { %>
                <tbody>
                <tr>  

                    <td ><span>&#8358;</span> <%= item.balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                   
                    
                    <td>
                            <table class="rtable" > 
                                    <thead>
                       
                            <tr>  
                                <th>Date</th>
                                <th>Added</th>
                            </tr> 
                          </thead>
                    
                          <tbody>
                            <tr>
                                <td >
                    <% for (var i = 0; i < item.adate.length; i++) { %>
                        <%= moment(item.adate[i]).format("MMMM Do, YYYY") %><br>
                    <% } %>  
                             </td>

                       <td >
                        <% for (var i = 0; i < item.adding.length; i++) { %>
                            <span>&#8358;</span> <%= item.adding[i].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %><br>
                        <% } %>
                     </td>

                     </tr> 
                    </tbody>
                    </table>  
                </body>
                   
                </td>  

                <td>
                        <table class="rtable" > 
                                <thead>
                   
                        <tr>  
                            <th>Date</th>
                            <th>Removes</th>
                        </tr> 
                      </thead>
                
                      <tbody>
                        <tr>
                            <td >
                <% for (var i = 0; i < item.rdate.length; i++) { %>
                    <%= moment(item.rdate[i]).format("MMMM Do, YYYY") %><br>
                <% } %>  
                         </td>

                   <td >
                    <% for (var i = 0; i < item.removes.length; i++) { %>
                        <span>&#8358;</span> <%= item.removes[i].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %><br>
                    <% } %>
                 </td>

                 </tr> 
                </tbody>
                </table>  
            </body>
               
            </td>  
         
            </tr> 
            </tbody>
                <% }); %>       
        </table>  
</body>
</html>

